:root {
  --line-color: #ececec;
  --border-color: #eeeeee;
  --primary-shade-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --seconadary-shade-color: #f5f4fa;
  --seconadary-background-color: #2f303a;
  --btn-background-color: #f5f4fa;
  --hero-btn-accent-color: #188ce8;
  --primary-color: #000000;
  --social-unactive: #afb1b8;
  --social-unactive-footer: rgba(255, 255, 255, 0.1);
  --card-text-bgrd: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(0, 0, 0, 0.2);
  --overlay-card-color: rgba(33, 150, 243, 0.9);

  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--primary-shade-color);
  background-color: var(--secondary-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-nopaddingtop {
  padding-top: 0;
}

/*Ссылки*/
.link {
  text-decoration: none;
}
.current::before {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  content: "";
  bottom: -1px;
}
.list {
  list-style: none;
  padding: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

/*Логотип*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--primary-color);
}
.logo-white {
  color: var(--secondary-color);
}

/*Навигация*/
.conhead {
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-shade-color);
  position: relative;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.nav-list {
  display: flex;
  margin-left: auto;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.secondary-contact-link:hover,
.contact-link:focus,
.secondary-contact-link:focus,
.contact-map:focus,
.contact-map:hover {
  color: var(--accent-color);
}

/*Титул*/
.top-section {
  background-color: var(--seconadary-background-color);
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-title {
  width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.section.top-section {
  padding: 200px 0;
}

/*Кнопки*/
.primary-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
}
.secondary-btn {
  cursor: pointer;

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  background-color: var(--btn-background-color);

  border: 0;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.secondary-btn:focus,
.secondary-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Особенности*/
.advantages-item-title {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-shade-color);
}
.adv {
  padding-bottom: 47px;
}
.advantages-item-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.advantages-list {
  display: flex;
}
.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

/*Чем занимаемся*/
.specifications {
  padding-top: 47px;
}
.section-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.specifications-list {
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
}
.specifications-item:not(:last-child) {
  margin-right: 30px;
}
.specification-image {
  position: relative;
}
.specifications-title {
  position: absolute;
  bottom: 0;
  background-color: var(--card-text-bgrd);
  width: 100%;
  padding: 27px 0;
}
.specifications-title-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
/*Наша комманда*/
.team {
  background-color: var(--seconadary-shade-color);
}
.team-list {
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding: 30px 0;
}
.team-item-name {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.team-item-role {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/*Футер*/
.footer {
  background-color: var(--seconadary-background-color);
  padding: 60px 0;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.contact-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.footer-nav {
  margin-right: 70px;
}
.contact-map,
.secondary-contact-link {
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.footer-item:not(:first-child) {
  margin-top: 9px;
}
.secondary-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-social .social-link {
  color: var(--secondary-color);
  background-color: var(--social-unactive-footer);
}
.footer-social {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.subscription {
  margin-left: auto;
}
.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.subscription-form {
  display: flex;
}
.subscription-input {
  width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input:focus {
  border: 1px solid var(--accent-color);
}
.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--secondary-color);
}
/*Портфолио*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 9px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-card {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}
.card-field {
  position: relative;
  height: 294px;
  overflow: hidden;
}
.portfolio-card {
  padding-top: 30px;
}
.portfolio-item-title {
  margin: 0 0 4px 0;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-shade-color);
}
.portfolio-item-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.headen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list-item {
  background-color: var(--secondary-color);
  box-shadow: none;

  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.portfolio-list-item:hover .portfolio-card-overlay,
.portfolio-list-item:focus .portfolio-card-overlay,
.portfolio-list-item:focus-within .portfolio-card-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*Иконки*/
.envelope,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-unactive);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.social > .social-item:not(:last-child) {
  margin-right: 10px;
}
.social,
.clients {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;

  color: var(--social-unactive);
}
.clients-link {
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid var(--social-unactive);
  display: flex;
  justify-content: center;
  color: var(--social-unactive);

  transition-property: color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients > .clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.thumb {
  justify-content: center;
  display: flex;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--seconadary-shade-color);
}
/*Окошки*/
.portfolio-card-overlay {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-card-color);

  transform: translateY(100%);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);

  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-shade-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-shade-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}
.overlay-text {
  margin: 0;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;

  background-color: var(--overlay-color);
  opacity: 1;
  visibility: visible;
  transition-property: visibility, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modal {
  position: absolute;
  max-width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  min-height: 30px;
  min-width: 30px;

  padding: 0;
  background-color: var(--secondary-color);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}
.modal-btn:hover {
  color: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  text-align: center;
  margin-bottom: 12px;
}
.form-field {
  margin-bottom: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}
.input:focus-within + .input-icon {
  fill: var(--accent-color);
}
.input-icon {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 12px;
  fill: var(--primary-shade-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea-field {
  margin-bottom: 20px;
}
.textarea {
  width: 100%;
  padding: 16px 12px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus,
.textarea:focus {
  border: 1px solid var(--accent-color);
}

.input:hover,
.mtextarea:hover {
  cursor: pointer;
}

.checkbox-field {
  margin-bottom: 30px;
}

.checkbox-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check-box-appearance {
  display: block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border: 2px solid var(--primary-shade-color);
  border-radius: 2px;
  cursor: pointer;
  transition-property: border, background-color, background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus + .check-box-appearance {
  border: 2px solid var(--accent-color);
}
.checkbox:checked:focus + .check-box-appearance {
  background-color: var(--accent-color);
  background-image: url(../images/done.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}
.input-group {
  position: relative;
}
.agreement-link {
  margin-left: 5px;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
.modal-button {
  padding: 10px 56px;
}
