:root {
  --line-color: #ececec;
  --border-color: #eeeeee;
  --primary-shade-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --seconadary-shade-color: #f5f4fa;
  --seconadary-background-color: #2f303a;
  --btn-background-color: #f5f4fa;
  --primary-color: #000000;
  --social-unactive: #afb1b8;
  --social-unactive-footer: rgba(255, 255, 255, 0.1);

  --overlay-color: rgba(0, 0, 0, 0.2);
  --overlay-card-color: rgba(33, 150, 243, 0.9);

  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--primary-shade-color);
  background-color: var(--secondary-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-nopaddingtop {
  padding-top: 0;
}

/*Ссылки*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--line-color);
  align-items: center;
}

/*Логотип*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--primary-color);
}
.logo-white {
  color: var(--secondary-color);
}

/*Навигация*/
.conhead {
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 93px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-shade-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.nav-list {
  display: flex;
  margin-left: auto;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.secondary-contact-link:hover,
.contact-link:focus,
.secondary-contact-link:focus,
.contact-map:focus,
.contact-map:hover {
  color: var(--accent-color);
}

/*Титул*/
.top-section {
  background-color: var(--seconadary-background-color);
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-title {
  width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.section.top-section {
  padding: 200px 0;
}

/*Кнопки*/
.primary-btn {
  cursor: pointer;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
}
.secondary-btn {
  cursor: pointer;

  padding-left: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  background-color: var(--btn-background-color);

  border: 0;
  border-radius: 4px;
}
.secondary-btn:focus,
.secondary-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Особенности*/
.advantages-item-title {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-shade-color);
}
.adv {
  padding-bottom: 47px;
}
.advantages-item-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.advantages-list {
  display: flex;
}
.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

/*Чем занимаемся*/
.specifications {
  padding-top: 47px;
}
.section-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.specifications-list {
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
}
.specifications-item:not(:last-child) {
  margin-right: 30px;
}

/*Наша комманда*/
.team {
  background-color: var(--seconadary-shade-color);
}
.team-list {
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding: 30px 0;
}
.team-item-name {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.team-item-role {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/*Футер*/
.footer {
  background-color: var(--seconadary-background-color);
  padding: 60px 0;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.contact-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.footer-nav {
  margin-right: 70px;
}
.footer-item:not(:first-child) {
  margin-top: 9px;
}
.secondary-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer-social .social-link {
  color: var(--secondary-color);
  background-color: var(--social-unactive-footer);
}
.footer-social > .text {
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

/*Портфолио*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 9px;
}
.secondary-btn {
  padding: 8px 22px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.card-field .portfolio-card {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}
.portfolio-card {
  padding-top: 30px 30px;
}
.portfolio-item-title {
  margin: 0 0 4px 0;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-shade-color);
}
.portfolio-item-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.headen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list-item {
  width: 370px;

  background-color: var(--secondary-color);
  box-shadow: none;
  border-radius: 0px 0px 4px 4px;

  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay,
.portfolio-list-item:focus-within .overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-field {
  position: relative;
  height: 294px;
  overflow: hidden;
}
/*Иконки*/
.envelope,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-unactive);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.social > .social-item:not(:last-child) {
  margin-right: 10px;
}
.social,
.clients {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;

  color: var(--social-unactive);
}
.clients-link {
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid var(--social-unactive);
  display: flex;
  justify-content: center;
  color: var(--social-unactive);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients > .clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.thumb {
  justify-content: center;
  display: flex;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--seconadary-shade-color);
}
/*Окошки*/
.overlay {
  position: absolute;
  bottom: 0;

  display: flexbox;
  align-items: center;
  width: 100%;
  height: 294px;

  background-color: var(--overlay-card-color);

  transform: translateY(101%);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);

  overflow-y: auto;
}
.overlay::-webkit-scrollbar {
  width: 10px;
}
.overlay::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--current-text-color);
  border-radius: 10px;
}

.overlay::-webkit-scrollbar-thumb {
  background: var(--hero-btn-accent-color);
  border-radius: 10px;
}

.overlay::-webkit-scrollbar-thumb:hover {
  background: var(--current-text-color);
}
.overlay-text {
  margin: 0;
  padding: 63px 24px;
  color: var(--current-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
}
