$primary-shade-color: #212121;
$secondary-color: #ffffff;
$first-text-color: #757575;
$accent-color: #2196f3;
$secondary-accent-color: #afb1b8;
$seconadary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$primary-color: #000000;
$border-color: #eeeeee;
$line-color: #ececec;
$primary-button-hover: #2196f3cc;
