$main-text-color: #212121;
$secondary-page-color: #ffffff;
$third-text-color: #757575;
$main-brand-color: #2196f3;
$secondary-brand-color: #afb1b8;
$main-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$logo-secondary-color: #000000;
$primary-border-color: #eeeeee;
$secondary-border-color: #ececec;
$primary-button-hover: #2196f3cc;
